* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

.ctn {
  min-width: 100%;
  min-height: 100%;
}

.card1 {
  cursor: pointer;
  cursor: hand;
}

.card2 {
  cursor: pointer;
  cursor: hand;
}

.women-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 675px;
  margin-top: 60px;
  padding-top: 300px;
  overflow: hidden;
  backdrop-filter: blur(2px) brightness(80%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  cursor: hand;
}

.card1:hover .women-overlay {
  opacity: 1;
}

.men-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  margin-top: 60px;
  height: 675px;
  padding-top: 300px;
  overflow: hidden;
  backdrop-filter: blur(2px) brightness(80%);
  transition: all 0.3s ease-in-out;
}

.card2:hover .men-overlay {
  opacity: 1;
}

.img {
  height: 675px;
}

.card-title {
  align-items: center;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  padding-top: 20px;
  letter-spacing: 0.12em;
  color: #ffffff;
}
