* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

/* .ctn {
  min-width: 100%;
  min-height: 100%;
} */

/* .card1 {
  width: 410px;
  height: 690px;
  cursor: pointer;
  cursor: hand;
}

.card2 {
  width: 410px;
  height: 690px;
  cursor: pointer;
  cursor: hand;
} */

/* .card3 {
    width: 410px;
    height: 690px;
    background: #2c2828;
    cursor: pointer;
    cursor: hand;
  } */

/* .img {
  padding: 60px;
} */

/* .card-body {
  box-shadow: inset 1px 9px 17px -1px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  cursor: hand;
} */

/* .card-title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  padding-top: 20px;
  letter-spacing: 0.12em;
  color: #ffffff;
} */
