<div class="row">
  <div class="col-12 text-center">
    <div class="row">
      <p class="heading">Innovative AI Fashion Design Simplified</p>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <p class="sub-heading">
          Welcome to DEPANO AI, where advanced technology meets the fashion
          world. Our AI-powered platform is expertly designed to revolutionize
          the creative process for designers, students, and enthusiasts alike.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <p class="description">Here's what sets our product apart</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mt-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">From Concept to Creation</h5>
            <p class="card-text">
              AI-powered designs that transform fashion ideas into stunning
              visuals instantly
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mt-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Seamless Design Experience</h5>
            <p class="card-text">
              Easy-to-use interface for both novice designers and seasoned
              professionals
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mt-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Enhanced Creativity</h5>
            <p class="card-text">
              Endless inspiration and tailored designs using specialized
              keywords and prompts
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mt-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Pocket-friendly Solutions</h5>
            <p class="card-text">
              Most economical customised AI-generated designs in any market
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mt-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Market-Ready Designs</h5>
            <p class="card-text">
              Accelerated design process, saving time and resources for
              immediate market impact
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
