<div class="row">
  <div class="col">
    <div class="row">
      <p class="heading">Depano AI</p>
    </div>

    <div class="row">
      <div class="col">
        <p class="description">
          Welcome to DEPANO AI, where cutting-edge technology meets the world of
          fashion design. Our AI-powered platform is meticulously crafted to
          transform the creative process for fashion designers, students, and
          enthusiasts alike. Here's what makes our product unique
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">From Concept to Creation</h5>
            <p class="card-text">
              AI-powered designs that transform fashion ideas into stunning
              visuals instantly
            </p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Seamless Design Experience</h5>
            <p class="card-text">
              Easy-to-use interface for both novice designers and seasoned
              professionals
            </p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Enhanced Creativity</h5>
            <p class="card-text">
              Endless inspiration and tailored designs using specialized
              keywords and prompts
            </p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Pocket-friendly Solutions</h5>
            <p class="card-text">
              Most economical customised AI-generated designs in any market
            </p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Market-Ready Designs</h5>
            <p class="card-text">
              Accelerated design process, saving time and resources for
              immediate market impact
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
