* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cnt {
  height: 60px;
  min-width: 100%;
  padding-left: 60px;
}

.title {
  font-family: Noto Sans;
  font-size: 19px;
  font-weight: 600;
  line-height: 19.07px;
  letter-spacing: 0.15em;
  font-style: normal;
  color: #000000;
  cursor: pointer;
  cursor: hand;
  width: 200px;
}

.dropdown-menu {
  border-radius: 12px;
  overflow: hidden;
}

.profile {
  background-color: #ffffff;
  color: #000000;
  float: right;
  width: 180px;
  height: 40px;
  margin-right: 40px;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 450;
  line-height: 18.75px;
}

.profile-icon {
  padding-left: 40px;
  color: #000000;
  font-size: 23px;
}

.dropdown-item {
  color: #000000;
  background-color: #ffffff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  padding-left: 25px;
}

.dropdown-divider {
  margin-left: 8px;
  margin-right: 8px;
}

.dropdown-toggle::after {
  display: none;
}

.item-icon {
  font-size: 20px;
  margin-top: 3px;
  font-weight: 400;
  padding-top: 5px;
  padding-right: 10px;
}

.item-text {
  color: #000000;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 450;
  line-height: 18.75px;
}
