<nav [ngStyle]="{ background: background }" class="cnt navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="row w-100 align-items-center">
      <div class="col">
        <h6 class="title" (click)="openHome()">{{ title }}</h6>
      </div>

      <div
        *ngIf="showProfile"
        class="col-auto ms-auto d-flex align-items-center"
      >
        <div class="btn-group">
          <button
            type="button"
            class="profile btn dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ getUsername(this.loggedInUser.userName) }}
            <lucide-icon
              class="profile-icon"
              name="chevron-down"
              [size]="18"
              [strokeWidth]="2"
            ></lucide-icon>
          </button>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" type="button">
                <lucide-icon
                  class="item-icon"
                  name="circle-user-round"
                  [size]="20"
                  [strokeWidth]="2"
                ></lucide-icon>
                <span class="item-text"
                  >{{ this.loggedInUser.credits }} {{ "Credits" }}</span
                >
              </button>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button class="dropdown-item" type="button" (click)="logout()">
                <lucide-icon
                  class="item-icon"
                  name="log-out"
                  [size]="20"
                  [strokeWidth]="2"
                ></lucide-icon>
                <span class="item-text">Log Out</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
