<nav class="cnt navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="row w-100 align-items-center">
      <div class="logo-container col" (click)="openHome()">
        <div class="logo-icon">
          <i-lucide name="Sparkles" [size]="24" [strokeWidth]="2"></i-lucide>
        </div>
        <span class="logo-text">Depano AI</span>
      </div>

      <div
        *ngIf="showProfile"
        class="col-auto ms-auto d-flex align-items-center"
      >
        <div class="btn-group">
          <button
            type="button"
            class="profile btn dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ getUsername(this.loggedInUser.userName) }}
            <lucide-icon
              class="profile-icon"
              name="chevron-down"
              [size]="18"
              [strokeWidth]="2"
            ></lucide-icon>
          </button>
          <ul class="dropdown-menu dropdown-menu-custom">
            <li class="dropdown-header-section">
              <div class="user-profile-section">
                <div class="user-avatar">
                  <lucide-icon
                    name="user"
                    [size]="24"
                    [strokeWidth]="2"
                  ></lucide-icon>
                </div>
                <div class="user-info">
                  <div class="user-name">
                    {{ getUsername(this.loggedInUser.userName) }}
                  </div>
                  <div class="user-credits">
                    <lucide-icon
                      name="star"
                      [size]="14"
                      [strokeWidth]="2"
                    ></lucide-icon>
                    <span>{{ this.loggedInUser.credits }} Credits</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="dropdown-item-wrapper">
              <button
                class="dropdown-item logout-btn"
                type="button"
                (click)="logout()"
              >
                <lucide-icon
                  class="item-icon"
                  name="log-out"
                  [size]="18"
                  [strokeWidth]="2"
                ></lucide-icon>
                <span class="item-text">Log Out</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
