<div class="ctn container-fluid">
  <div class="footer-content row">
    <div class="footer-content-column col-4">
      <p><a class="item link-opacity-10" href="/home">Home</a></p>
      <p><a class="item link-opacity-10">Pricing</a></p>
      <p><a class="item link-opacity-10">Testimonials</a></p>
    </div>

    <div class="footer-content-column col-4">
      <p><a class="item link-opacity-10">Instagram</a></p>
      <p><a class="item link-opacity-10">X (Formerly Twitter)</a></p>
    </div>

    <div class="footer-content-column col-4">
      <p><a class="item link-opacity-10">Privacy Policy</a></p>
      <p><a class="item link-opacity-10">Terms of use</a></p>
      <p><a class="item link-opacity-10">Contact Us</a></p>
    </div>
  </div>
</div>
