<div class="ctn container-fluid">
  <div class="row">
    <div class="col-6">
      <img src="./assets/home_pic.png" class="img" alt="..." />
    </div>
    <div class="col-6">
      <div class="container">
        <div class="row">
          <h6 class="title">{{ title }}</h6>
        </div>
        <div class="row">
          <div class="col">
            <h6 class="sign-txt">Sign in</h6>
          </div>
          <div class="col">
            <button type="button" class="create-acc-btn btn btn-link">
              create an account
            </button>
          </div>
        </div>
        <div class="hr row">
          <hr />
        </div>
        <div class="row">
          <div class="mb-3">
            <form>
              <div class="mb-3">
                <input
                  placeholder="Email"
                  type="email"
                  class="txt-input form-control"
                  id="email"
                />
              </div>
              <div class="mb-3">
                <input
                  placeholder="Password"
                  type="password"
                  class="txt-input form-control"
                  id="password"
                />
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="check-box form-check-input"
                  id="remember"
                />
                <label class="check-input form-check-label" for="remember-input"
                  >Remember me</label
                >
                <button type="button" class="forgot-btn btn btn-link">
                  Forgot password?
                </button>
              </div>
              <button
                type="submit"
                class="login-btn btn btn-primary"
                (click)="validate()"
              >
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
