<div class="ctn container-fluid">
  <div class="row title-ctn">
    <div class="col-12 text-center">
      <h6 class="title" (click)="openHome()">{{ title }}</h6>
    </div>
  </div>
  <div class="content row align-items-start">
    <div class="col-12 col-md-6 mb-3">
      <div class="login-form p-3">
        <div class="heading row mb-3">
          <label>Sign In</label>
        </div>
        <div class="form-ctn row">
          <div class="mb-3">
            <form #userform="ngForm">
              <div *ngIf="!otp">
                <div class="mb-3">
                  <input
                    placeholder="Email"
                    type="email"
                    class="txt-input form-control"
                    id="emailId"
                    [(ngModel)]="userAuth.email"
                    name="email"
                    required
                    #userId="ngModel"
                    (keyup)="checkEmail()"
                  />
                  <div
                    *ngIf="userId.invalid && userId.touched"
                    class="invalid-error alert-danger"
                    role="alert"
                  >
                    Email/Phone can't be empty!
                  </div>

                  <div
                    *ngIf="emailError"
                    class="invalid-error alert-danger"
                    role="alert"
                  >
                    Invalid email format!
                  </div>
                </div>

                <div class="mb-2">
                  <input
                    placeholder="Password"
                    type="password"
                    class="txt-input form-control"
                    id="password"
                    [(ngModel)]="userAuth.password"
                    name="password"
                    required
                    #userPass="ngModel"
                  />
                  <div
                    *ngIf="userPass.invalid && userPass.touched"
                    class="invalid-error alert-danger"
                    role="alert"
                  >
                    Password can't be empty!
                  </div>
                </div>

                <div class="mb-3 form-check">
                  <input
                    type="checkbox"
                    class="check-box form-check-input"
                    id="rememberId"
                    name="rememeberme"
                    [(ngModel)]="rememberUser"
                  />
                  <label class="check-input form-check-label" for="rememberId"
                    >Remember me</label
                  >

                  <button
                    type="button"
                    class="forgot-btn btn"
                    (click)="forgotPassword()"
                  >
                    Forgot password?
                  </button>
                </div>

                <div>
                  <button
                    type="submit"
                    class="login-btn btn"
                    (click)="validate()"
                    [disabled]="userform.invalid"
                  >
                    Sign in
                  </button>
                </div>

                <div>
                  <button
                    type="submit"
                    class="create-acc-btn btn"
                    (click)="goToSignUp()"
                  >
                    Create account
                  </button>
                </div>
              </div>

              <div *ngIf="otp && !otpSent && !otpChecked">
                <div class="mb-3">
                  <input
                    placeholder="Email"
                    type="email"
                    class="txt-input form-control"
                    id="emailId"
                    [(ngModel)]="userAuth.email"
                    name="email"
                    required
                    #userId="ngModel"
                    (keyup)="checkEmail()"
                  />
                  <div
                    *ngIf="userId.invalid && userId.touched"
                    class="invalid-error alert-danger"
                    role="alert"
                  >
                    Email/Phone can't be empty!
                  </div>

                  <div
                    *ngIf="emailError"
                    class="invalid-error alert-danger"
                    role="alert"
                  >
                    Invalid email format!
                  </div>
                </div>

                <button
                  type="submit"
                  class="login-btn btn"
                  (click)="generateOtp()"
                  [disabled]="userform.invalid"
                >
                  Verify
                </button>
              </div>

              <div *ngIf="otp && otpSent && !otpChecked" class="otp-state">
                <div class="mb-3">
                  <input
                    placeholder="Otp"
                    type="text"
                    class="txt-input form-control"
                    id="otpId"
                    [(ngModel)]="changePasswordUser.otp"
                    name="otp"
                    required
                    minlength="6"
                    maxlength="6"
                    #userOtp="ngModel"
                  />
                  <div
                    *ngIf="userOtp.invalid && userOtp.touched"
                    class="invalid-error alert-danger"
                    role="alert"
                  >
                    Please provide Otp first!
                  </div>
                </div>

                <button
                  type="submit"
                  class="login-btn btn"
                  (click)="verifyOtp()"
                  [disabled]="userform.invalid"
                >
                  Submit
                </button>

                <button
                  type="submit"
                  class="create-acc-btn btn"
                  (click)="generateOtp()"
                >
                  Resend OTP
                </button>
              </div>

              <div *ngIf="otp && otpSent && otpChecked" class="otp-state">
                <div class="mb-3">
                  <input
                    placeholder="Password"
                    type="password"
                    class="txt-input form-control"
                    id="passwordId"
                    [(ngModel)]="changePasswordUser.password"
                    name="password"
                    required
                    #userPass="ngModel"
                  />
                  <div
                    *ngIf="userPass.invalid && userPass.touched"
                    class="invalid-error alert-danger"
                    role="alert"
                  >
                    Password can't be empty!
                  </div>
                </div>

                <div class="mb-3">
                  <input
                    placeholder="Confirm Password"
                    type="password"
                    class="txt-input form-control"
                    id="cnfrmPassId"
                    [(ngModel)]="confirmPassword"
                    name="confirm"
                    required
                    #userCnfrm="ngModel"
                  />
                  <div
                    *ngIf="
                      (userCnfrm.invalid && userCnfrm.touched) || cnfrmPassError
                    "
                    class="invalid-error alert-danger"
                    role="alert"
                  >
                    Passwords don't match!
                  </div>
                </div>

                <button
                  type="submit"
                  class="login-btn btn"
                  (click)="changePassword()"
                  [disabled]="userform.invalid"
                >
                  Submit
                </button>

                <div *ngIf="passError" class="pass-error" role="alert">
                  <p>
                    Password must be at least 8 characters long. Contains at
                    least:<br />
                    One lowercase letter, uppercase letter, digit & special
                    character.
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 text-center mb-3">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/depano-ai.appspot.com/o/App%2Fsign-in.png?alt=media&token=af0dfd5b-04d4-427f-9c2d-f123e9ff2343"
        class="img img-fluid"
        alt="..."
      />
    </div>
  </div>
</div>
