* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

.ctn {
  min-width: 100%;
  background: #ffffff;
}

.container {
  align-items: center;
  margin-top: 80px;
  padding: 100px;
}

.img {
  min-width: 100%;
  min-height: 100%;
  width: 640px;
  height: 735px;
}

.title {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.15em;
  color: #ec0c0c;
  text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  cursor: hand;
}

.txt-input {
  width: 300px;
  height: 45px;
  padding: 10px;
  margin-top: 30px;
  border-color: black;
  border-radius: 6px;
}

.check-box {
  margin-top: 5px;
  margin-left: 2px;
}

.check-input {
  padding-left: 10px;
}

.forgot-btn {
  text-align: right;
  float: right;
  margin-right: 10px;
}

.login-btn {
  width: 300px;
  height: 45px;
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.8093px;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  background-color: black;
  border-radius: 6px;
}

.create-acc-btn {
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  margin-top: 5px;
}
