<div class="error-container">
  <div class="error-content">
    <div *ngIf="config.badge" class="error-badge">
      {{ config.badge }}
    </div>

    <h1 class="error-title">{{ config.title }}</h1>
    <p class="error-subtitle">{{ config.subtitle }}</p>

    <div class="error-card">
      <div class="icon-container">
        <lucide-icon
          class="icon"
          [name]="config.icon"
          [size]="32"
        ></lucide-icon>
      </div>

      <p class="card-title">
        {{
          type === "SERVER_ERROR"
            ? "We're Working On It"
            : "Top Up Your Credits"
        }}
      </p>
      <p class="card-subtitle">
        {{
          type === "SERVER_ERROR"
            ? "Our team is working to resolve this issue."
            : "Continue creating amazing designs by adding more credits."
        }}
      </p>

      <!-- Tips -->
      <div *ngIf="config.tips" class="tips">
        <div *ngFor="let tip of config.tips; let i = index" class="tip">
          <span class="index">{{ i + 1 }}</span>
          {{ tip }}
        </div>
      </div>

      <!-- Actions -->

      <div class="actions">
        <div class="action-row">
          <button class="primary" (click)="handlePrimaryAction()">
            <lucide-icon name="credit-card" [size]="20"></lucide-icon>
            {{ config.primaryAction.label }}
          </button>

          <button
            *ngIf="config.secondaryAction"
            class="secondary"
            (click)="handleSecondaryAction()"
          >
            <i-lucide name="Sparkles" [size]="20"></i-lucide>
            {{ config.secondaryAction.label }}
          </button>
        </div>

        <div class="action-row-center">
          <button class="tertiary" (click)="goHome()">
            <lucide-icon name="house" [size]="20"></lucide-icon> Back to Home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
