<div class="container-fluid">
  <div class="row row-cols-5 row-cols-sm-5 align-items-center">
    <ng-container *ngFor="let category of categoryList">
      <div
        class="category-card"
        (click)="selectCategory(category.code, category.name)"
      >
        <div class="card-body">
          <div class="form-check">
            <input
              *ngIf="this.attributeListType === 'attribute'"
              class="attribute-check form-check-input"
              type="checkbox"
              id="flexCheckChecked"
              readonly
              [hidden]="!showCheckBox || !checkAttribute(category.code)"
              [checked]="checkAttribute(category.code)"
            />
            <input
              *ngIf="this.attributeListType === 'value'"
              class="attribute-check form-check-input"
              type="checkbox"
              id="flexCheckChecked"
              [hidden]="!showCheckBox || category.code !== selectedCode"
              [checked]="
                checkAttribute(category.code) || category.code === selectedCode
              "
            />
          </div>
          <div *ngIf="this.categoryKey === 'color'" class="color-container">
            <div
              class="card-color"
              [style.background-color]="'#' + category.code"
            ></div>
          </div>
          <img
            *ngIf="this.categoryKey === 'type'"
            class="attribute-img"
            src="{{ category.image }}"
          />
          <img
            *ngIf="
              this.attributeListType === 'value' && this.categoryKey !== 'color'
            "
            class="attribute-value-img"
            src="{{ category.image }}"
          />
          <img
            *ngIf="
              this.categoryKey !== 'color' &&
              this.categoryKey !== 'type' &&
              this.attributeListType !== 'value'
            "
            class="category-img"
            src="{{ category.image }}"
          />
          <h6 class="category-title">{{ category.name }}</h6>
        </div>
        <div class="card-hover-overlay">
          <button
            *ngIf="
              this.attributeListType === 'value' &&
              category.code !== selectedCode
            "
            class="btn"
          >
            <lucide-icon
              class="action-icon"
              name="plus"
              [size]="22"
              [strokeWidth]="2"
            ></lucide-icon>
          </button>
          <button
            *ngIf="
              this.attributeListType === 'value' &&
              category.code === selectedCode
            "
            class="btn"
          >
            <lucide-icon
              class="action-icon"
              name="x"
              [size]="22"
              [strokeWidth]="2"
            ></lucide-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
