.category-card {
  align-items: center;
  border: none;
  margin: 20px;
  width: 220px;
  cursor: pointer;
  cursor: hand;
  transition: all 0.2s ease;
  border-radius: 10%;
  position: relative;
  overflow: hidden;
}

.category-card:hover {
  /* box-shadow: 5px 6px 6px 2px #e9ecef; */
  transform: scale(1.1);
}

.card-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.category-card:hover .attribute-value-img {
  filter: blur(2px);
}

.category-card:hover .card-color {
  filter: blur(2px);
}

.category-card:hover .card-hover-overlay {
  opacity: 1;
}

.action-icon {
  color: #000;
  font-size: 50px;
  background-color: #fff;
  border-color: #000;
  border-radius: 6px;
  display: inline-block;
  line-height: 1;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribute-check {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.category-img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  padding: 10px;
}

.attribute-img {
  padding: 60px;
  height: 180px;
  width: 200px;
}

.attribute-value-img {
  padding: 20px;
  height: 180px;
  width: 200px;
}

.card-color {
  height: 130px;
  width: 120px;
  margin-left: 40px;
  border-radius: 20%;
  align-items: center;
}

.category-title {
  margin-top: 10px;
  font-style: normal;
  text-align: center;
  color: #62808f;
  width: 200px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
  letter-spacing: 0.15em;
  text-align: center;
}
