/* body {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
} */

.card {
  /* text-align: center; */
  align-items: center;
  border: none;
  padding: 10px;
  margin: 20px;
  width: 220px;
  background: #ebebec;
  cursor: pointer;
  cursor: hand;
  transition: all 0.2s ease;
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

.img {
  border-radius: 10%;
  object-fit: cover;
  height: 230px;
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
}

.category-title {
  margin-top: 20px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #000000;
  width: 200px;
}
