.category-card {
  align-items: center;
  border: none;
  margin: 20px;
  width: 220px;
  background-color: #f8f6f6;
  cursor: pointer;
  cursor: hand;
  transition: all 0.2s ease;
  border-radius: 10%;
}

.category-card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}

.attribute-check {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.category-img {
  object-fit: cover;
  height: 220px;
  width: 200px;
}

.category-title {
  margin-top: 10px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #000000;
  width: 200px;
}
