<app-header [source]="'pricing'"></app-header>

<section class="pricing-wrapper">
  <div class="header">
    <h1>Choose Your Creative Journey</h1>
    <p>
      Select the perfect plan to bring your fashion design vision to life with
      AI-powered creativity.
    </p>
  </div>

  <!-- Current Balance Badge -->
  <div *ngIf="isLoggedIn && !loading" class="current-balance-container">
    <div class="current-balance-badge">
      <div class="current-balance-card">
        <lucide-icon
          name="coins"
          [size]="20"
          class="balance-icon"
        ></lucide-icon>
        <div class="balance-info">
          <span class="current-balance-title">Current Balance</span>
          <span class="current-balance-credits"
            >{{ userDetails?.credits || "0" }} Credits</span
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Pricing Cards -->
  <div class="cards">
    <div
      *ngFor="let plan of plans"
      class="card justify-items-center"
      [class.popular]="plan.popular"
    >
      <div *ngIf="plan.popular" class="badge">
        <lucide-icon class="me-1" size="16" name="star"></lucide-icon>Most
        Popular
      </div>

      <div class="icon">{{ plan.icon }}</div>
      <h3>{{ plan.name }}</h3>

      <p class="description">
        {{ plan.description }}
      </p>

      <div class="price">
        <span class="amount">{{ plan.price }}</span>
      </div>
      <div class="images-wrapper">
        <div class="images">
          <lucide-icon class="logo-icon" name="coins" [size]="20"></lucide-icon>
          {{ plan.images }}
        </div>
      </div>

      <ul class="features">
        <li *ngFor="let feature of plan.features">
          <span class="index">✔</span>
          <span class="sub-features">{{ feature }}</span>
        </li>
      </ul>

      <button
        class="btn-primary full-width"
        [disabled]="loading"
        (click)="onPlanSelect(plan.planCode)"
      >
        <!-- Processing -->
        <span
          *ngIf="loading && paymentState !== PaymentState.SUCCESS"
          class="btn-loading-state"
        >
          <span class="spinner"></span>
          Processing...
        </span>

        <!-- Success -->
        <span
          *ngIf="!loading && paymentState === PaymentState.SUCCESS"
          class="btn-success-state"
        >
          <lucide-icon [size]="18" name="check"></lucide-icon>
          Payment Done
        </span>

        <!-- Default -->
        <span
          *ngIf="!loading && paymentState !== PaymentState.SUCCESS"
          class="btn-idle-state"
        >
          Purchase Now
          <lucide-icon [size]="18" name="arrow-right"></lucide-icon>
        </span>
      </button>
    </div>
  </div>
</section>
