<app-header></app-header>
<div class="ctn container-fluid">
  <div class="row">
    <div class="col">
      <nav class="crumb">
        <ol class="breadcrumb">
          <ng-container *ngFor="let crumb of breadcrumbsList">
            <li class="breadcrumb-item">
              <a
                class="category-link"
                [routerLink]="['/generate', crumb.key]"
                (click)="goToBreadcrumb(crumb.key)"
                >{{ crumb.value }}</a
              >
            </li>
          </ng-container>
        </ol>
      </nav>
    </div>
    <div class="col">
      <button type="button" class="btn skip-btn" (click)="onSkip()">
        Skip Category
        <i class="bi bi-skip-end skip-icon"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="category-list">
        <app-category-list
          [categoryList]="categoryLists"
          (selectedCategory)="categorySelected($event)"
        ></app-category-list>
      </div>

      <div class="user-input">
        <app-user-input
          [key]="selectedCategoryKey"
          (userInput)="inputSelected($event)"
          [userPrompt]="userPrompt"
        ></app-user-input>
      </div>
    </div>
  </div>
</div>
