* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebebec;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

.ctn {
  background: #ebebec;
  min-width: 100%;
  padding-top: 42px;
  padding-bottom: 55px;
  padding-left: 130px;
  padding-right: 130px;
}
