<app-header [source]="'category'"></app-header>
<div class="ctn container-fluid">
  <div class="row">
    <div class="col">
      <nav class="crumb">
        <div class="breadcrumb-pill">
          <div class="breadcrumb-list-wrapper">
            <ol class="breadcrumb">
              <ng-container
                *ngFor="let crumb of breadcrumbsList; let i = index"
              >
                <li class="breadcrumb-item">
                  <a
                    class="category-link"
                    [routerLink]="['/generate', crumb.key]"
                    (click)="goToBreadcrumb(crumb.key)"
                    >{{ crumb.value }}</a
                  >
                </li>
              </ng-container>
            </ol>
          </div>
        </div>
      </nav>
    </div>
    <div *ngIf="showGenerateButton; else showSkip" class="col">
      <button type="button" class="btn skip-btn" (click)="generate()">
        Generate
      </button>
    </div>
    <ng-template #showSkip>
      <div class="col">
        <button type="button" class="btn skip-btn" (click)="onSkip()">
          Skip Category
        </button>
      </div>
    </ng-template>
  </div>
  <div class="row">
    <div class="col">
      <div class="category-list">
        <app-category-list
          [categoryList]="categoryLists"
          [categoryKey]="categoryKey"
          [showCheckBox]="showCheckBox"
          [attributeListType]="attributeListType"
          [selectedCategoryCode]="selectedCategoryCode"
          (selectedCategory)="categorySelected($event)"
          (removeCategory)="onRemoveSelectedAttribute($event)"
        ></app-category-list>
      </div>

      <div class="user-input">
        <app-user-input
          [categoryName]="selectedCategoryName"
          [hideUserPrompt]="hideUserPrompt"
          (userInput)="inputSelected($event)"
        ></app-user-input>
      </div>
    </div>
  </div>
</div>
