<!-- <div class="ctn container-fluid">
  
  <div class="card-group">
    <div class="card">
      <img
        src="../assets/Women.png"
        class="card-img-top"
        alt="..."
        width="300"
        height="670"
      />
      <div class="card-body">
        <h5 class="card-title">Women</h5>
      </div>
    </div>

    <div class="card">
      <img
        src="../assets/Men.png"
        class="card-img-top"
        alt="..."
        width="300"
        height="670"
      />
      <div class="card-body">
        <h5 class="card-title">Men</h5>
      </div>
    </div>

    
  </div>
</div> -->

<div class="container">
  <h6 class="title">Depano.ai</h6>
  <div class="row">
    <div class="col-sm">
      <div class="card1" (click)="openCategory('Women')">
        <img
          src="../assets/Women.png"
          class="img card-img-top"
          alt="..."
          height="615"
        />
        <div class="card-body">
          <h5 class="card-title">Women</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card2" (click)="openCategory('Men')">
        <img
          src="../assets/Men.png"
          class="img card-img-top"
          alt="..."
          height="615"
        />
        <div class="card-body">
          <h5 class="card-title">Men</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card3" (click)="openCategory('Kids')">
        <img
          src="../assets/Kids.png"
          class="img card-img-top"
          alt="..."
          height="615"
        />
        <div class="card-body">
          <h5 class="card-title">Kids</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
