@if (!isUserLoggedIn()) {
  <div class="fixed-buttons">
    <button class="sign-in-btn" (click)="checkUserSession('login')">
      <lucide-icon name="log-in" [size]="16" [strokeWidth]="2"></lucide-icon>
      Sign In
    </button>
    <button class="sign-up-btn" (click)="checkUserSession('signup')">
      <lucide-icon name="user-plus" [size]="16" [strokeWidth]="2"></lucide-icon>
      Sign Up
    </button>
  </div>
}

<div class="ctn container-fluid">
  <section class="hero-section">
    <!-- Gradient Background -->
    <div class="background">
      <div class="texture-overlay-1"></div>
      <div class="texture-overlay-2"></div>
      <div class="texture-overlay-3"></div>
    </div>

    <!-- Floating Elements -->
    <div class="floating-element top-left"></div>
    <div class="floating-element bottom-right"></div>
    <div class="floating-element center"></div>

    <!-- Content Container -->
    <div class="content-container">
      <h2 class="headline">Revolutionizing <br />Fashion with AI</h2>
      <p class="subheadline">
        Empowering Designers to Create, Innovate, and Inspire
      </p>
      <button class="cta-button" (click)="checkUserSession('login')">
        Start Designing Now
      </button>
    </div>
    <div class="scroll-indicator">
      <div class="scroll-border">
        <div class="scroll-dot"></div>
      </div>
    </div>
  </section>

  <div class="row content justify-content-center">
    <div id="about">
      <app-about></app-about>
    </div>
    <div id="features">
      <app-feature></app-feature>
    </div>
    <div id="outputs">
      <app-outputs></app-outputs>
    </div>
    <div id="vision">
      <app-vision></app-vision>
    </div>
  </div>

  <div class="justify-content-center">
    <app-footer></app-footer>
  </div>
</div>
