.heading {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.result-row {
  margin-top: 40px;
}

.result-img {
  margin-bottom: 20px;
  border-radius: 5%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.result-img2 {
  margin-bottom: 20px;
  border-radius: 5%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.result-img3 {
  border-radius: 5%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
