.heading {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.result-row {
  margin-top: 40px;
}

.result-img {
  margin-bottom: 20px;
  width: 400px;
  height: 360px;
  border-radius: 5%;
  object-fit: cover;
}

.result-img2 {
  margin-bottom: 20px;
  width: 615px;
  height: 480px;
  border-radius: 5%;
  object-fit: cover;
}

.result-img3 {
  width: 300px;
  height: 330px;
  border-radius: 5%;
  object-fit: cover;
}
