<app-header [source]="'design'"></app-header>
<div class="container container-fluid">
  <div class="design-header" *ngIf="this.design">
    <h1 class="design-title">Your Design is Ready!</h1>
  </div>

  <div *ngIf="this.design" class="row mb-3">
    <div class="col-12 d-flex justify-content-center mb-2">
      <div class="action-buttons">
        <button type="button" class="action-btn" (click)="downloadDesign()">
          <lucide-icon class="icon" name="download"></lucide-icon>
          <span>Download</span>
        </button>

        <button type="button" class="action-btn" (click)="shareDesign()">
          <lucide-icon name="share-2"></lucide-icon>
          <span>Share</span>
        </button>

        <button type="button" class="action-btn" (click)="openMode()">
          <lucide-icon name="repeat-2"></lucide-icon>
          <span>Start Again</span>
        </button>

        <button type="button" class="action-btn" (click)="editDesign()">
          <lucide-icon name="square-pen"></lucide-icon>
          <span>Edit Design</span>
        </button>

        <button
          *ngIf="this.showRegenerateButton"
          type="button"
          class="action-btn"
          (click)="regenerate()"
        >
          <lucide-icon name="rotate-ccw"></lucide-icon>
          <span>Regenerate</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="this.design" class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <img class="img img-fluid" src="{{ design }}" />
    </div>
  </div>
</div>
