<div class="container mt-2">
  <div class="action-buttons mt-4">
    <button
      class="btn secondary"
      (click)="undoLastMask()"
      [disabled]="!drawnPaths.length"
    >
      Undo Last
    </button>

    <button class="btn secondary" (click)="resetCanvas()">Reset</button>
  </div>

  <div
    style="
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column;
    "
  >
    <div #canvasContainer id="canvasContainer" style="border-radius: 30px">
      <canvas #canvasEl style="border-radius: 30px"></canvas>
    </div>

    <img
      *ngIf="maskImageUrl"
      [src]="maskImageUrl"
      alt="Mask"
      style="width: 55vh; height: 65vh"
    />
  </div>
</div>

<div class="prompt-footer" *ngIf="drawnPaths.length > 0">
  <input
    type="text"
    [(ngModel)]="userPrompt"
    placeholder="Describe your edit (e.g., add pocket, remove sleeve)..."
  />
  <button
    class="btn primary"
    [disabled]="!userPrompt.trim() || !drawnPaths.length"
    (click)="generateImage()"
  >
    Generate Image
  </button>
</div>
