html {
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #f9fafb, #ffffff);
  border-radius: 8px;
  margin-block: 15px;
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 8px;
}
