* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

.container {
  min-width: 100%;
  min-width: 100%;
  padding-top: 45px;
  /* padding-bottom: 75px; */
  padding-left: 130px;
  padding-right: 130px;
  /* background-color: #000000; */
}

.start-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.8093px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #000000;
  background-color: #ffffff;
  padding: 12px 21px;
  border-radius: 10px;
  height: 50px;
  width: 200px;
}

.regen-btn {
  float: right;
  height: 50px;
  width: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.8093px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #ffffff;
  background-color: #000000;
  padding: 12px 21px;
  border-radius: 10px;
}

.share-btn {
  float: right;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.8093px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #ffffff;
  background-color: #000000;
  padding: 12px 21px;
  border-radius: 10px;
}

.download-btn {
  height: 50px;
  float: right;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.8093px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #ffffff;
  background-color: #000000;
  padding: 12px 21px;
  border-radius: 10px;
}

.img {
  margin-top: 60px;
  margin-bottom: 10px;
  width: 450px;
  height: 500px;
  border-radius: 30px;
  margin-left: 400px;
}
