<app-header></app-header>
<div class="ctn container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card1" (click)="openCategory('women')">
        <img
          src="../assets/Women.png"
          class="img card-img-top"
          alt="..."
          height="615"
        />
        <div class="card-body">
          <h5 class="card-title">Women</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card2" (click)="openCategory('men')">
        <img
          src="../assets/Men.png"
          class="img card-img-top"
          alt="..."
          height="615"
        />
        <div class="card-body">
          <h5 class="card-title">Men</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card1" (click)="openCategory('kids')">
        <img
          src="../assets/Kids.png"
          class="img card-img-top"
          alt="..."
          height="615"
        />
        <div class="card-body">
          <h5 class="card-title">Kids</h5>
        </div>
      </div>
    </div>
  </div>
</div>
