* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

.ctn {
  min-width: 100%;
  margin-bottom: 30px;
  background: #ffffff;
}

.title {
  padding-left: 60px;
  padding-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.15em;
  color: #ec0c0c;
  text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  cursor: hand;
}

.txt {
  padding-top: 250px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  padding-left: 100px;
}

.description {
  margin-top: 5px;
  padding-left: 100px;
  padding-right: 150px;
}

.home-img {
  margin: 10px;
  margin-top: 25px;
  width: 700px;
  height: 627px;
  border-radius: 10%;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.8093px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  padding: 12px 21px;
  border-radius: 10px;
}

.start-btn {
  background-color: #000;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 20px;
  float: left;
  width: 140px;
  height: 50px;
}

.start-btn-icon {
  padding-left: 10px;
  color: #ffffff;
}

.info-btn {
  margin-top: 15px;
  color: #000;
  width: 160px;
  height: 50px;
  border-color: #000;
}

.output-heading {
  margin-top: 50px;
  margin-left: 130px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.output-ctn {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.result-img {
  margin-bottom: 6px;
  width: 300px;
  height: 330px;
  vertical-align: middle;
}
