<div *ngIf="!hideUserPrompt" class="prompt-wrapper mt-3">
  <label class="prompt-label"> {{ label }} </label>

  <div class="prompt-box">
    <textarea
      class="prompt-input"
      name="user-prompt"
      maxlength="300"
      pattern="^[A-Za-z0-9](?:[A-Za-z0-9 .,'-]*[A-Za-z0-9.])?$"
      placeholder="E.g., 'Vintage-inspired leather jacket with modern details', 'Sustainable casual wear', etc."
      #userInputCategory="ngModel"
      [(ngModel)]="userPrompt"
    >
    </textarea>
    <div
      *ngIf="userInputCategory.touched && userInputCategory.errors?.['pattern']"
    >
      Use letters, numbers, spaces, and basic punctuation like comma, period,
      apostrophe, or hyphen.
    </div>
    <button
      for="userInput"
      type="submit"
      class="prompt-btn"
      [disabled]="!userPrompt.trim() || userInputCategory.errors?.['pattern']"
      (click)="onSubmit(userPrompt)"
    >
      <lucide-icon name="arrow-right"></lucide-icon>
    </button>
  </div>
</div>
