<div *ngIf="!hideUserPrompt" class="prompt-wrapper mt-3">
  <label class="prompt-label"> Or describe something custom </label>

  <div class="prompt-box">
    <textarea
      class="prompt-input"
      placeholder="E.g., 'Vintage-inspired leather jacket with modern details', 'Sustainable casual wear', etc."
      #userInputCategory
    ></textarea>
    <button
      for="userInput"
      type="submit"
      class="prompt-btn"
      (click)="onSubmit(userInputCategory.value)"
    >
      Submit
    </button>
  </div>
</div>
