.prompt-wrapper {
  max-width: 100%;
  padding: 24px;
  border-radius: 20px;
  border: 2px solid #e5e7eb;
  background-color: #ffffff;
}

.prompt-label {
  display: block;
  font-family: Inter, Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #3a3a3a;
  margin-bottom: 10px;
}

.prompt-box {
  position: relative;
}

.prompt-input {
  width: 92%;
  padding: 19px 18px 0px 18px;
  border-radius: 14px;
  background: #f3e8ff;
  font-family: Inter, Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  resize: none;
}

.prompt-input::placeholder {
  color: #9ca3af;
  font-weight: 400;
}

.prompt-btn {
  position: absolute;
  bottom: 8px;
  right: 14px;
  padding: 18px 18px;
  font-size: 13px;
  border-radius: 14px;
  border: none;
  color: #ffffff;
  transition: #f1f5f9 0.2s ease;
  font-family: Roboto;
  background: linear-gradient(to bottom right, #a855f7, #ec4899);
}

.prompt-btn:disabled {
  background-color: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
}

textarea,
textarea:focus,
textarea:active,
textarea:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
