.or {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20.8093px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #000000;
  margin-bottom: 70px;
}

.input {
  box-sizing: border-box;
  border: solid #504949;
  border-radius: 13px;
  border-width: 2px;
  background: #ebebec;
  min-height: 180px;
  max-height: 180px;
  color: #ffffff;
  direction: ltr;
  text-align: start;
}

.label {
  color: #353c44;
  padding: 30px;
  font-style: roboto;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  width: 125px;
  font-weight: 400;
  font-size: 20.8093px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #ffffff;
  background: #444444;
  border-radius: 7px;
  float: right;
  padding: 5px;
  margin-top: -60px;
  margin-right: 30px;
}
